{% from 'bootstrap/form.html' import render_form %}
{% extends "base.html" %}
{% block title %}
index
{% endblock %}
{% block body %}
    {% if posts  %}
        {%  for post in posts  %}
        <h3 class="text-primary"><a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.title }}</a></h3>
        <p>
        {{ post.body|striptags|truncate }}
        <small><a href="{{ url_for('.show_post', post_id=post.id) }}">Read More</a></small>
        </p>
        {% endfor %}
    {% endif %}
{% endblock %}